body {
    background: #9250e717;
}

main {
    flex-direction: column;
    justify-content: center;
    margin: 48px auto;
    height: auto;
}

.course-box {
    width: 80%;
    margin: 12px auto;
    border: 5px solid #0464d8;
    background: #373636;
    color: white;
    border-radius: 25px;
    font-family: 'Fira Sans', sans-serif;
    padding: 3vw 3vw;
}

.course-box h2 {
    margin: 12px 0;
    font-family: 'Ysabeau SC', sans-serif;
    font-size: 30px;
    background: #fe2020;
    padding: 5px 8px;
    border-radius: 10px;
    text-align: center;
}

.course-box ul {
    line-height: 1.4;
    padding-left: 22px;
    font-size: 17px;
    margin: 37px 24px 7px
}

.course-box ul li span {
    font-family: 'Ysabeau SC', sans-serif;
}


@media (max-width: 612px) {
    main{
        margin: 18px 0px;
    }
    
    .course-box {
        border-radius: 18px;
        border-width: 4px;
    }
    
    .course-box h2 {
        font-size: 4.4vw;
        margin-top: 2vw;
        border-radius: 4px;
    }

    .course-box ul {
        line-height: 1.8;
        padding-left: 5vw;
        font-size: 2.7vw;
        margin: 1vw 1vw;
    }

    
}